
<div class="col-lg-12">
<br/><h3>Users</h3><br/>
	<form class="navbar-form" role="search">
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Search" [(ngModel)]="name">
		</div>
	</form>
	<br/>
<div *ngFor="#korisnik of korisnici| SearchPipe:name">
	Name: {{korisnik.name}}
	<br/>
	Email: {{korisnik.email}}
	<br/>
	<span *ngIf="korisnik.gender == 'male'">
		Gender: Male
	</span>
	<span *ngIf="korisnik.gender != 'male'">
		Gender: Female
	</span><br/>
	Company: {{korisnik.company}}
	<br/>	<br/>
</div>
</div>
